/* ================================================== GENERAL ================================================== */
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    --smoke: gainsboro;
    --grey: #EBF0F6;
    --cyan: #98CCD3;
    --water: #364E68;
    --deepsea: #132238;
}

::-webkit-scrollbar {
    display: none;
}

/* ================================================== NAVBAR ================================================== */
nav {
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding-inline: 5rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* -------------------------------------------------- NAV LEFT PART -------------------------------------------------- */
.nav-left a {
    color: var(--deepsea);
    text-decoration: none;
}

.nav-left h1 {
    align-items: center;
    display: flex;
}

.nav-left .logo {
    aspect-ratio: 1 / 1;
    background-color: var(--grey);
    border-radius: 3px;
    display: inline-block;
    margin-right: .5rem;
    overflow: hidden;
    position: relative;
    width: 3rem;
}

.nav-left .logo::before {
    aspect-ratio: 1 / 1;
    background-color: #132238;
    content: '';
    position: absolute;
    transform: rotate(45deg) scale(.8);
    transition: ease-in-out 250ms;
    width: 3rem;
}

.nav-left .logo::after {
    aspect-ratio: 1 / 1;
    background-color: var(--cyan);
    border-radius: 50px;
    content: '';
    position: absolute;
    transform: scale(.5);
    transition: ease-in-out 250ms;
    width: 3rem;
}

.nav-left a:hover .logo::before {
    transform: rotate(180deg) scale(1);
}

.nav-left a:hover .logo::after {
    transform: scale(.2);
}

.nav-left span {
    color: var(--cyan);
}

/* -------------------------------------------------- NAV RIGHT PART -------------------------------------------------- */
.nav-right {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-right a {
    color: black;
    position: relative;
    text-decoration: none;
    width: auto;
}

.nav-right a::after {
    background-color: var(--deepsea);
    bottom: 0;
    content: '';
    height: 1px;
    right: 0;
    position: absolute;
    transition: ease-in-out 500ms;
    width: 0;
}

.nav-right a:hover::after {
    width: 100%;
}

/* ================================================== CONTENT ================================================== */
.container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

section {
    border-inline: 1px solid var(--smoke);
    height: 100vh;
    margin-inline: auto;
    position: relative;
    scroll-snap-align: start;
    width: 1024px;
}

.sect-title {
    font-size: 2rem;
    margin-top: 1rem;
    position: absolute;
    right: -55px;
    writing-mode: vertical-rl;
}

.sect-title>h1 {
    font-weight: 100;
}

/* -------------------------------------------------- HOME section -------------------------------------------------- */
.home-sect {
    background-color: rgba(99, 99, 99, 0);
    height: calc(100vh - 80px);
    position: relative;
    width: auto;
}

.home-content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.home-content>h1 {
    font-size: 7rem;
    font-weight: 100;
}

.home-desc {
    text-align: center;
}

.home-content a {
    border-radius: 3px;
    border: 1px solid var(--grey);
    color: white;
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 2rem;
    text-decoration: none;
    transition: ease-in-out 250ms;
}

.home-content a:hover {
    background-color: var(--grey);
    color: var(--deepsea);
}

.home-sect>video {
    filter: brightness(.4);
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* -------------------------------------------------- OVERVIEWS section -------------------------------------------------- */
.overviews-sect {
    padding-top: 10%;
}

.card-box {
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 1rem;
}

.top,
.bottom {
    flex-grow: 1;
    height: 48%;
}

.bottom {
    display: flex;
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    overflow: hidden;
    padding: .5rem;
}

.card-desc {
    width: 70%;
}

.card-desc>h1 {
    color: var(--cyan);
    margin-bottom: 2rem;
}

.card-desc>h2 {
    color: var(--deepsea);
    font-weight: 400;
    margin-top: 2rem;
}

.card-img {
    flex-grow: 1;
    height: fit-content;
    object-fit: scale-down;
    width: 200px;
}

/* -------------------------------------------------- FEATURES section -------------------------------------------------- */
.features-sect {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    text-align: center;
}

.features-sect > h1{
    font-size: 2rem;
    font-weight: 100;
}

.features-sect > h1,
.features-sect > p{
    margin-bottom: .5rem;
}

.features-img{
    border-radius: 3px;
    filter: brightness(.5);
    flex-grow: 1;
    height: 1rem;
    object-fit: cover;
}

.units {
    display: flex;
    justify-content: center;
}

.unit {
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    height: 10rem;
}

.units input {
    display: none;
}

.unit-img {
    cursor: pointer;
    height: 10rem;
    object-fit: contain;
    transition: ease-in-out 250ms;
    transform: scale(.7);
}

.unit-img:hover {
    filter: brightness(1.3);
}

.unit-desc {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    opacity: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: ease-in-out 500ms;
    width: 0px;
}

.unit-desc > h1{
    color: var(--cyan);
}

.behavior:checked~.unit-desc.behavior,
.perception:checked~.unit-desc.perception,
.predictive:checked~.unit-desc.predictive {
    opacity: 1;
    padding-left: 2rem;
    transform: scaleX(1);
    width: 100%;
}

/* -------------------------------------------------- RESOURCES section -------------------------------------------------- */
.resources-sect {
    padding-top: 80px;
    height: auto;
}

.resources-sect > h1{
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}

.news{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding:  1rem 5rem;
    padding-bottom: 5rem;
}

.new{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    flex-grow: 1;
    overflow: hidden;
    width: 40%;
}

.new > img{
    object-fit: cover;
    width: 100%;
}

.new-desc{
    padding: 1rem;
}

.new-desc > p:first-child{
    padding-bottom: 1rem;
}

.new-desc > h1{
    color: var(--cyan);
    padding-bottom: 1rem;
}

/* ================================================== FOOTER ================================================== */
footer {
    color: white;
    display: flex;
}

.footer-left {
    align-items: center;
    background-color: var(--water);
    display: flex;
    flex-basis: 30%;
    justify-content: center;
}

.footer-left>.logo {
    aspect-ratio: 1 / 1;
    background-color: var(--grey);
    border-radius: 3px;
    display: inline-block;
    margin-right: .5rem;
    overflow: hidden;
    position: relative;
    width: 3rem;
}

.footer-left>.logo::before {
    aspect-ratio: 1 / 1;
    background-color: #132238;
    content: '';
    position: absolute;
    transform: rotate(45deg) scale(.8);
    width: 3rem;
}

.footer-left>.logo::after {
    aspect-ratio: 1 / 1;
    background-color: var(--cyan);
    border-radius: 50px;
    content: '';
    position: absolute;
    transform: scale(.5);
    width: 3rem;
}

.footer-right {
    background-color: var(--deepsea);
    display: flex;
    flex-basis: 70%;
    gap: 3rem;
    padding: 2rem;

}

.footer-right>ul {
    list-style: none;
}

.footer-right p {
    font-weight: 100;
}